@model IEnumerable<GlobalSolution_.NET.Models.TiporiscoModel>

@{
    ViewData["Title"] = "Risco";
}

<h1>@ViewData["Title"]</h1>

<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_risco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_risco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id_risco="@item.id_risco">Edit</a> |
                <a asp-action="Details" asp-route-id_risco="@item.id_risco">Details</a> |
                <a asp-action="Delete" asp-route-id_risco="@item.id_risco">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
