@model IEnumerable<GlobalSolution_.NET.Models.CoordenadasModel>

@{
    ViewData["Title"] = "Coordenadas";
}

<h1>@ViewData["Title"]</h1>

<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_coordenadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_coordenadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_coordenadas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_coordenadas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_coordenadas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
